<h1>Sign Up</h1>
<%= form_for @user do |f| %>
  <div>
    <%= f.label "first_name" , "First Name" %><br>
    <%= f.text_field "first_name" %>
  </div>
  <div>
    <%= f.label "last_name", "Last Name" %><br>
    <%= f.text_field "last_name" %>
  </div>
  <div>
    <%= f.label "email" %><br>
    <%= f.text_field "email" %>
  </div>
  <div>
    <%= f.label "password" %><br>
    <%= f.text_field "password" %>
  </div>
  <div>
    <%= f.label "website" %><br>
    <%= f.text_field "website" %>
  </div>
  <div>
    <%= f.label "facebook", "Facebook" %><br>
    <%= f.text_field "facebook" %>
  </div>
  <div>
    <%= f.label "twitter" %><br>
    <%= f.text_field "twitter" %>
  </div>
  <div>
    <%= f.label "biography" %><br>
    <%= f.text_field "biography" %>
  </div>
  <div>
    <%= f.label "profile_photo" %><br>
    <%= f.text_field "profile_photo" %>
  </div><br>
  <div><%= f.submit "Submit" %></div>
  <% end %>
