<h1>Sign Up</h1>
<%= form_for @user do |f| %>
  <div>
    <%= f.label "first_name" , "First Name" %><br>
    <%= f.text_field "first_name" %>
  </div><br>
  <div>
    <%= f.label "last_name", "Last Name" %><br>
    <%= f.text_field "last_name" %>
  </div><br>
  <div>
    <%= f.label "email" %><br>
    <%= f.text_field "email" %>
  </div><br>
  <div>
    <%= f.label "password" %><br>
    <%= f.text_field "password" %>
  </div><br>
  <div>
    <%= f.label "website" %><br>
    <%= f.text_field "website" %>
  </div><br>
  <div>
    <%= f.label "facebook", "Facebook" %><br>
    <%= f.text_field "facebook" %>
  </div><br>
  <div>
    <%= f.label "twitter" %><br>
    <%= f.text_field "twitter" %>
  </div><br>
  <div>
    <%= f.label "biography" %><br>
    <%= f.text_field "biography" %><br>
  </div><br>
  <div>
    <%= f.file_field :image %><br><br>
  </div>
  <div>
    <%= f.label :remote_image_url, "Profile Photo" %><br>
    <%= f.text_field :remote_image_url %>
  </div><br>
  <div><%= f.submit "Submit" %></div>
  <% end %>
