<!-- This is the Markup for the User's Profile on the top-->
<div class="map-rightdisplay">
  <script src="http://maps.googleapis.com/maps/api/js"></script>
  <div id="googleMap" class= "google_map"></div>
</div>

<div id = "user-profile" style="text-align: center; font-family: quicksand;">
  <img src = <%= @user.image %> >
  <h3 style="text-align: center; font-family: quicksand;"> <%= @user.first_name %> <%= @user.last_name %></h3>
  <h5 style="text-align: center; font-family: quicksand;"> <%= @user.biography %> </h5>
  <a href="<%= @user.website %>"><img style="width:30px;height:30px;" src="https://scontent-sea1-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/549234_10203606833364929_6514952005608737757_n.jpg?oh=e397ed0edacc3d61caacf649c2a00d81&oe=560985CA"<%= @user.website %> </a>
</div>

<!-- This is the Markup for the Memories Tiles on the Left-->
<div class = "memories-leftdisplay" data-user-id="<%= params[:id] %>">
  <div id = "memory-list"></div>
</div>

<!-- This JS executes the JS to get the Memories Tiles on the Left -->
<%= javascript_include_tag "memoryGenerator" %>

<script>
  $( function() {
    var userId = <%= params[:id] %>
    getUserMemories(userId);
  });
</script>
