<!-- This is the Markup for the User's Profile on the top-->
<div id = "user-profile">
  <img src = <%= @user.image %> >
  <h3> <%= @user.first_name.downcase %> <%= @user.last_name.downcase %></h3>
  <h5> <%= @user.biography %> </h5>
  <h7> <%= @user.twitter %> <%= @user.facebook %> <%= @user.website %> </h7>
</div>

<!-- This is the Markup for the Memories Tiles on the Left-->
<div class = "memories-leftdisplay" data-user-id="<%= params[:id] %>">
  <div id = "memory-list"></div>
</div>




<!-- This JS executes the JS to get the Memories Tiles on the Left -->
<%= javascript_include_tag "memoryGenerator" %>

<script>
  $( function() {

    var mapProp = {
      center: new google.maps.LatLng(49.282022399999995, -123.108199),
      zoom: 15,
      mapTypeId:google.maps.MapTypeId.ROADMAP,
      styles: styles
    };
    map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

    var userId = <%= params[:id] %>

    getUserMemories(userId);

  });


</script>

<!-- This JS displays the User's Memory Map on the Right -->
<div class="map-rightdisplay">
  <script src="http://maps.googleapis.com/maps/api/js"></script>
  <div id="googleMap" class= "google_map"></div>
</div>


<!-- This JS displays the User's Memories Tiles on the Left -->
<!-- <script src = /> 

  

</script> -->