<script>

  $(function() {

    $.backstretch([
      "https://scontent-sea1-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/13399_10203570847985317_3233685133724634096_n.jpg?oh=ff76e942c36ceab1c694e3ee7b8dbf02&oe=5609EAE7",
      "https://scontent-sea1-1.xx.fbcdn.net/hphotos-xat1/v/l/t1.0-9/11148652_10203570847945316_6882202978588279856_n.jpg?oh=e05728bb82b257d7883f53aadd447ffb&oe=55C5AF02", 
      "https://scontent-sea1-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/11215058_10203570847905315_9103989941626003325_n.jpg?oh=dd872df363be95a2d6e965bb6292a13e&oe=560AE496"
    ], {duration: 10000, fade: 1000});


  });
</script>

<% @current_user =  User.find(session["user_id"]) %>


<br><br>

<form  id='search-form' action="/search" method=
"get"> 
  <div class="row">
    <div class="ten mobile-three columns">
      <input id="search-city" class="search-input"type="text" name="search" placeholder="Search Cities" />
    </div>
    <div class="two mobile-one columns">
      <input id="search-submit" type="submit" value="search" class="button expand postfix" />
    </div>
  </div>
</form><br>

<div class="curated_memories">
  <div class="item" >
    <img name="bookmark-image" data-memory_id="' + item.id + '" data-user_id=<%= @current_user.id %> class="bookmark-image" src="/assets/bookmark.png" /> 
  </div>
  <div class="item" >
    <img name="bookmark-image" data-memory_id="' + item.id + '" data-user_id=<%= @current_user.id %> class="bookmark-image" src="/assets/bookmark.png" /> 
  </div>
  <div class="item" >
    <img name="bookmark-image" data-memory_id="' + item.id + '" data-user_id=<%= @current_user.id %> class="bookmark-image" src="/assets/bookmark.png" /> 
  </div>
  <div class="item" >
    <img name="bookmark-image" data-memory_id="' + item.id + '" data-user_id=<%= @current_user.id %> class="bookmark-image" src="/assets/bookmark.png" /> 
  </div>
  <div class="item" >
    <img name="bookmark-image" data-memory_id="' + item.id + '" data-user_id=<%= @current_user.id %> class="bookmark-image" src="/assets/bookmark.png" /> 
  </div>
  <div class="item" >
    <img name="bookmark-image" data-memory_id="' + item.id + '" data-user_id=<%= @current_user.id %> class="bookmark-image" src="/assets/bookmark.png" /> 
  </div>
</div>