<h1>Memories#new</h1>
<p>Find me in app/views/memories/new.html.erb</p>

<script type="text/javascript"> 


  navigator.geolocation.getCurrentPosition(set_coordinates);
  function set_coordinates(obj) {
    $('input.latitude').val(obj.coords.latitude);
    $('input.longitude').val(obj.coords.longitude);
    console.log(obj.coords.latitude);
    console.log(obj.coords.longitude);
  };

  $("form.memory_form").submit(function (event) {
    if ($('input.latitude').val() == "") {
      alert("You do not have a location!");
      event.preventDefault();
    }

  });

</script>

<div class="memory_create">
    <%= form_for @memory do |f| %>
      <div>
        <%= f.label "title" , "Title" %><br>
        <%= f.text_field "title" %>
      </div>
      <div>
        <%= f.label "description", "Description" %><br>
        <%= f.text_field "description" %>
      </div>
      <div>
        <%= f.label "category" %><br>
        <%= f.text_field "category" %>
      </div>
      <div>
        <%= f.label "media_url", "Upload an Image" %><br>
        <%= f.file_field "media_url" %>
      </div><br>

      <!-- hidden input fields with data collected from browser and geocoder gem
      --> 
      <input type="hidden" name="longitude" class="longitude">
      <input type="hidden" name="latitude" class="latitude">
      <input type="hidden" name="city" class="city">
      <input type="hidden" name="google_place_id" class="google_place_id">

      <div><%= f.submit "Submit" %></div>
    <% end %>
  </div>