<h1>Memories#show</h1>
<p>Find me in app/views/memories/show.html.erb</p>


</br>

<a href="#" data-reveal-id="signinModal">Click Me For A Modal</a>

<div id="signinModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <%= form_tag sessions_path do %>
    <div>
      <%= label_tag :title %><br/>
      <%= text_field_tag :title %>
    </div>
    <div>
      <%= label_tag :description %><br/>
      <%= password_field_tag :description %>
    </div>
    <div><button id="loginSubmit" type="button">Login</button></div>
  <% end %>
<!--   <h2 id="modalTitle">I have it.</h2>
  <p class="lead">Your couch.  It is mine.</p>
  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p> -->
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<script>
  $("#loginSubmit").on('click', function() {

    var url = "http://api.localhost.com:3000/memories/"; // the script where you handle the form input.
    var memory = {
      title: $("#signinModal #title").val(),
      description: $("#signinModal #description").val()
    }; 

    $.ajax({     
      type: "POST",
      url: url,
      data: JSON.stringify(memory), // serializes the form's elements.
      contentType: "application/json",
      success: function() {
        $("#signinModal #title").val("");
        $("#signinModal #description").val("");
        $("#signinModal").foundation('reveal', 'close');
 // show response from the php script.
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log(textStatus, errorThrown);
      }
    });
  });

  // $("loginSubmit").on('click', function() {
  //   $("#signinModal").foudnation('reveal', 'close');
  // });

</script>