<!-- Triggers the modals -->

<!-- Reveal Modals begin -->
<div id="loginModal" class="reveal-modal small" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
  <h2 class="modaldetailsheader">LOGIN</h2>

      <%= form_tag sessions_path do %>
        <div>
          <%= label_tag "email", "EMAIL:", :class => "modal-form-control" %>
          <%= text_field_tag "email" %>
        </div>
        <div>
          <%= label_tag :password, "PASSWORD:", :class => "modal-form-control" %>
          <%= password_field_tag :password %>
        </div>
        <div><%= submit_tag "LOG IN", class: "secondary button submit_login" %></div>
      <% end %>

      <br/>
  <p><a href="#" data-reveal-id="secondModal" class="button new_user">NOT A USER? SIGN UP HERE</a></p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="secondModal" class="reveal-modal small" data-reveal aria-labelledby="secondModalTitle" aria-hidden="true" role="dialog">
  <h2 class="modaldetailsheader">SIGN UP</h2>
  <p class="modaldetailsheader">USER DETAILS:</p>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>

  <%= form_for :user, url: users_path, action: "post" do |f| %>

    <div>
      <%= f.label :first_name, "FIRST NAME", class: 'modal-form-control' %>
      <%= f.text_field :first_name, class: 'modal-form-control' %>
    </div>

    <div>
      <%= f.label :last_name, "LAST NAME", class: 'modal-form-control' %>
      <%= f.text_field :last_name, class: 'modal-form-control' %>
    </div>

    <div>
      <%= f.label :email, "EMAIL:", class: 'modal-form-control' %>
      <%= f.text_field :email, class: 'modal-form-control' %>
    </div>

    <div>
      <%= f.label :password, "PASSWORD:", class: 'modal-form-control' %>
      <%= f.password_field :password, class: 'modal-form-control' %>
    </div>

    <div>
      <%= f.label :website, "WEBSITE:", class: 'modal-form-control' %>
      <%= f.text_field :website, class: 'modal-form-control' %>
    </div>

    <div>
      <%= f.label :biography, "BIOGRAPHY:", class: 'modal-form-control' %>
      <%= f.text_field :biography, class: 'modal-form-control' %>
    </div>

    <div>
      <%= f.label :profile_photo, "UPLOAD PROFILE PHOTO:", class: 'modal-form-control' %>
      <%= f.file_field :profile_photo, class: 'modal-form-control' %>
    </div>

    <div>
    <%= f.submit "SIGN UP", class: "secondary button" %>
    </div>


  <% end %>

<!-- Reveal Modals end -->











