<!-- MODAL WINDOW -->    
<div id="formModal" class="reveal-modal small" data-reveal>

  <h3>Please fill in the form below and we will contact you shortly</h3>
  <fieldset>


  <script type="text/javascript"> 
    
    $("#memory_icon").on('click', function() {
      navigator.geolocation.getCurrentPosition(set_coordinates);

      function set_coordinates(obj) {
        console.log(obj.coords.latitude);
        console.log(obj.coords.longitude);
        $('input#memory_latitude').val(obj.coords.latitude);
        $('input#memory_longitude').val(obj.coords.longitude);
      };
    });

  </script>


<div class="memory_create">
    <%= form_for :memory do |f| %>


      <h4 id= "notice-header">Hey There! What's your Memory</h4>


      <div>
        <%= f.label :title, "Title" %><br>
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.label :description, "Description" %><br>
        <%= f.text_field :description %>
      </div>
      <div>
        <%= f.label :category %><br>
        <%= f.text_field :category %>
      </div>
      <div>
        <%= f.label :media_url, "Upload an Image" %><br>
        <%= f.file_field :media_url %>
      </div><br>
        <%= f.hidden_field :longitude %>
        <%= f.hidden_field :latitude %>
        <%= f.hidden_field :city %>
        <%= f.hidden_field :google_place_id %>
       <div>
       <button id="memory-submit" type="button">Save</button>
       </div>
    <% end %>
  </div>

  <script>
      $("#memory-submit").on('click', function() {

        var url = "http://api.localhost.com:3000/memories/";
        var memory = {
          title: $("#memory_title").val(),
          description: $("#memory_description").val(),
          longitude: $("#memory_longitude").val(),
          latitude: $("#memory_latitude").val(), 
          city: $("#memory_city").val(),
          google_place_id: $("#memory_google_place_id").val(),
          category: $("#memory_category").val(),
          media_url: $("#memory_media_url").val(),
        }; 

        $.ajax({     
          type: "POST",
          url: url,
          data: JSON.stringify(memory),
          contentType: "application/json",
          success: function() {
            $("#memory_title").val("");
            $("#memory_description").val("");
            $("#memory_longitude").val("");
            $("#memory_latitude").val("");
            $("#memory_city").val("");
            $("#memory_google_place_id").val("");
            $("#memory_category").val("");
            $("#memory_media_url").val("");
            $("#formModal").foundation('reveal', 'close');
          },
          error: function(jqXHR, textStatus, errorThrown) {
            console.log(textStatus, errorThrown);

            $("#notice-header").text("Give it a sec, and try again!");

          }
        });
      });
  </script>

            
           


            <!-- MODAL WINDOW END